/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 02-Jun-2017, 17:55:42
    Author     : harrikah
*/

.root{
    -fx-font-weight: 600;
    -fx-background-color: pink;
}